.card {
    display: flex;
    gap: 25px;
    padding: 20px;
    border-radius: 10px;

    &:hover {
        cursor: pointer;
        box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 39%, 0.37), 0 0 0 1px hsla(0, 0%, 21%, 0), 0 0.3px 0.4px hsla(0, 0%, 8%, 0.411),
            0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
            0 3.5px 6px hsla(0, 0%, 0%, 0.09);
        padding: 20px;
        border-radius: 10px;
    }

    .imageContainer {
        flex: 2;
        height: 200px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 8px;

            &:hover {
                transition: all 0.6s linear;
                scale: 1.1;
            }
        }


    }

    .textContainer {
        flex: 3;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        flex-direction: column;

        .title {
            font-size: 20px;
            font-weight: 600;
            color: #4444;
            transition: all 0.4s ease;

            &:hover {
                color: #000;
                scale: 1.03;
                width: max-content;
                border-bottom: 2px solid orange;
            }

            a {
                text-decoration: none;
                color: #000;



            }
        }

        .address {
            font-size: 14px;
            display: flex;
            align-items: center;
            gap: 5px;
            color: #888;
        }

        .price {
            font-size: 20px;
            font-weight: 300;
            padding: 5px;
            border-radius: 5px;
            background-color: rgba(255, 205, 81, 0.438);
            width: max-content;



        }

        img {
            width: 16px;
            height: 16px;

        }

        .bottom {
            display: flex;
            justify-content: space-between;
            gap: 10px;

            .feutures {

                display: flex;
                gap: 15%;
                font-size: 14px;


                .feuture {
                    display: flex;
                    gap: 5px;
                    align-items: center;
                    background-color: whitesmoke;
                    padding: 8px;
                    border-radius: 7px;

                    img {
                        &:hover {
                            transform: rotate(360deg);
                            transition: all 0.4s ease-in-out;
                        }

                    }

                    p {
                        text-wrap: nowrap;
                        font-weight: 700;
                    }

                }




            }

            .icons {
                display: flex;
                gap: 10px;


                .icon {
                    border: 1px solid #9999;
                    padding: 2px 5px;
                    border-radius: 5px;
                    cursor: pointer;
                    align-content: center;

                    img {
                        vertical-align: middle;
                        display: inline-block;
                    }

                    &:hover {
                        background-color: lightgrey;
                    }

                }
            }
        }
    }
}