@import "../../responsive.scss";

html {
    scroll-behavior: smooth;
}

.layout {
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;

    justify-content: space-between;


    @include lg {
        max-width: 1300px;
        background-color: rgb(240, 206, 212);
    }


    @include md {
        max-width: 700px;
        background-color: rgb(240, 206, 212);
    }

    @include sm {
        max-width: 600px;
        background-color: white;
    }
}

.content {
    height: 100%;
}